body{
    border: solid 1px black;

}

#navbar{
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    background-color: yellow;
}

.navtext{
    margin: .5rem;
}

button.navtext{
    border: solid 1px black;
    background-color: yellow;
}

button.navtext:hover{
    background-color: rgb(143, 143, 19);
    cursor: pointer;
}

section{
    display: flex;
    margin: 2rem;

    border: solid 1px black;
}